html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 4rem;
  max-width: 800px;
  z-index: 1;
}

.toc,
.toc li,
.toc ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 0.5rem;
}

.toc li {
  margin-left: 1rem;
}

.procedure li {
  margin-left: 2rem;
}

.nav-jump {
  position: fixed;
  bottom: 0;
  right: 20%;
  background-color: #ffffff;
  z-index: 10;
}

.toc a {
  text-decoration: none;
}
